<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>    
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <h1>Tableau de Bord</h1>
    <p>Bienvenue dans votre tableau de bord.</p>
    <nav>
        <ul>
            <li><a href="/choisir_selection">Choisir une Sélection</a></li>
            <li><a href="/add_selection">Ajouter une Sélection</a></li>
            <li><a href="/vote">Voter</a></li>
            <li><a href="/logout">Se Déconnecter</a></li>
        </ul>
    </nav>
</body>
</html>
